.small-profile-photo-envelope.f-left
  img(src=`/images/userpics/thumbs_s/${from && 'photo' in from ? from.photo : 'no-avatar.gif' }`)
.review-text
  .review-info
    if(from && 'name' in from && !isHidden)
      a(href=`"/user/"${from.username}`)
        b #{`from.name.first from.name.last`}
    else
      b Анноним
    time.f-right.timeago(datetime=(createdAt || ''))
  p #{body || ''}
.review-details
  .review-actions.f-right(style='display:none;')
    a.item.icon_delete(onclick=`core.review.remove('${_id || 0}')`) Удалить
    a.item.icon_reply(onclick="") Комментировать
    a.item.icon_like(onclick=`core.review.like('${_id || 0}')`) Мне нравится
.clearfix